html {
  box-sizing: border-box;
  font-size: calc(100% + .2vw);
}

*, *:before, *:after {
  border: 3px solid lightSeaGreen;
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  background-color: lightPink;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header h1 {
  font-size: calc(2.9rem + 2.5vw);
  margin: 10px auto;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  width: 80vw;
  max-width: 1400px;
  min-width: 380px;
}

.content {
  margin-bottom: 30px;
}

.content-grid {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  align-items: center;
}

.content-big {
  background-color: lightSkyBlue;
  transition: background-color .6s;
}

.content-small {
  background-color: lightSalmon;
  width: 90%;
  transition: background-color .6s;
}
